<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Информация о книге</title>
  <style>
    body { font-family: Arial, sans-serif; background-color: #f4f4f9; margin: 0; padding: 20px; }
    .book-container { margin: 20px auto; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #fff; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); width: 100%; max-width: 600px; }
    h1 { text-align: center; color: #333; }
    img { max-width: 100%; height: auto; }
  </style>
</head>
<body>
<div class="book-container">
  <h1>Информация о книге</h1>
  <p><strong>Название:</strong> <span th:text="${keyBookById.name}"></span></p>
  <p><strong>Автор:</strong> <span th:text="${keyBookById.author}"></span></p>
  <p><strong>Год издания:</strong> <span th:text="${keyBookById.yearOfProduction}"></span></p>
  <p><strong>Аннотация:</strong> <span th:text="${keyBookById.annotation}"></span></p>
  <p><strong>Обложка:</strong></p>
  <img th:src="@{${keyBookById.coverImage}}" alt="обложка книги" />
  <!-- Кнопки для администратора -->
  <div sec:authorize="hasRole('ADMIN')">
    <a th:href="@{/books/edit/{id}(id=${keyBookById.id})}" class="btn btn-primary">Редактировать</a>
    <form th:action="@{/books/delete/{id}(id=${keyBookById.id})}" method="post" style="display:inline;">
      <button type="submit" class="btn btn-danger" onclick="return confirm('Вы уверены, что хотите удалить книгу?');">Удалить книгу полностью</a></button>
    </form>
  </div>
  <a href="/books">Назад к списку книг</a>
</div>
</body>
</html>